*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
code-merge*.txt
*.rar
*.zip
*.png
*.jpg
*.jpeg
*.mp4
*.apk
*.aar
*.jar
*.jks
*.keystore
.idea/
*.swp
*.bak
*.log
.DS_Store
*.aab
*.apks
build-tools/exports/
